<footer class="site-footer">

</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/vendor/mustache.js/mustache.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/date-steroids/dist/date.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/URIjs/src/URI.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/lunr.js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/jquery-highlight/jquery.highlight.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
<script>
    if(location.hash && location.hash.indexOf('highlight=') > -1){
        $('.post-content').highlight(location.hash.split('=')[1]);
    }

    $('img:not(img[src$="logo.png"])').click(function(event) {
        $(this).toggleClass('zoom-image');
    });
</script>
