<footer class="site-footer">

</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/vendor/mustache.js/mustache.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/date-steroids/dist/date.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/URIjs/src/URI.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/lunr.js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vendor/jquery-highlight/jquery.highlight.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
<script>
    if (location.hash && location.hash.indexOf('highlight=') > -1) {
        $('.post-content').highlight(location.hash.split('=')[1]);
    }

    var screenshot = $('img:not(img[src$="logo.png"])');

    var offsetWidth;

    $(window).resize(function() {

        offsetWidth = document.documentElement.clientWidth;

        console.log(offsetWidth);

        if (offsetWidth > 768 && offsetWidth < 1000) {

            screenshot.each(function() {

                if ($(this).hasClass('zoom-image-lg')) {

                    $(this).removeClass('zoom-image-lg').addClass('zoom-image-sm');
                }
            });
        } else {

            screenshot.each(function() {

                if ($(this).hasClass('zoom-image-sm')) {

                    $(this).removeClass('zoom-image-sm').addClass('zoom-image-lg');
                }
            });
        }
    });

    screenshot.click(function() {

        offsetWidth = document.documentElement.clientWidth;

        if (offsetWidth > 767 && offsetWidth < 1000) {

            if (!($(this).hasClass('zoom-image-lg') || $(this).hasClass('zoom-image-sm'))) {

                screenshot.removeClass('zoom-image-lg').removeClass('zoom-image-sm');

                $(this).addClass('zoom-image-sm');
            } else {

                $(this).removeClass('zoom-image-lg').removeClass('zoom-image-sm');
            }
        } else {

            if (!($(this).hasClass('zoom-image-lg') || $(this).hasClass('zoom-image-sm'))) {

                screenshot.removeClass('zoom-image-lg').removeClass('zoom-image-sm');

                $(this).addClass('zoom-image-lg');

            } else {

                $(this).removeClass('zoom-image-lg').removeClass('zoom-image-sm');
            }
        }


    });
</script>
