---
layout: default
---
<header>
  <h1>Search results</h1>
</header>

<section id="search-results" style="display: none;">
  <div class="entries">
  </div>
</section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h4>
        <a href="{{url}}">{{title}}</a>
      </h4>
    </article>
  {{/entries}}
</script>
{% endraw %}

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/{{ page.url | language_url }}/{{ page.url | version_url }}/search.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>
